p{
    color: brown;
    line-height: 30px;
}
h1,h2,h3{
    text-align: center;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
a{
    text-decoration: green none;
}
button{
    color: white;
    background-color: black;
}
h1{
    text-decoration: underline;
}
textarea{
    color: #000000;
}
