section{
    margin-top: 50px;
}
div{
    width: 200px;
    height:50px;
    background-color: #7aa874;
    border: 2px solid black;
    text-align: center;
    margin: 10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb024;
}
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translate(100px,100px);
}
#four{
    transform: skew(30deg);
}
#six{
    box-shadow: 2px 2px 8px black;
}