*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration-style: none;
}