h1,h3{
    color: #B72B32;
}
#login{
    background-color: white;
}
#signup{
    background-color: #B72B32;
    color: white;
}
.upvote{
    background-color: green;
    color: white;
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration:underline;
}
p a{
    color: black;
    background-color: yellow;
}
input[type="radio"]:checked+label{
    color: hotpink;
}
p::selection{
    background-color: yellowgreen;
}